*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: white;
}



/* ASIDE */

div.container{
    display: flex;
    justify-content: space-between;
}

aside{
    background-color: black;
    color: #a3a3a3;
    width: 20vw;
    height: 100vh;
    z-index: 1;
}

aside>nav>ul{
    margin-bottom: 1.5rem;
}

ul>li{
    list-style-type: none;
}

li>img{
    height: 1rem;
}

#mobile-logo{
    display:none;
    height: 1rem;
}

#standard-logo{
    height: 100%;
}

.logo{
    height: 6vh;
    margin: .8rem;
}



/* MAIN */

main{
    width: 80vw;
    display: flex;
    background-color: #141922;  
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

div.upgrade{
    position: fixed;
    top: 0;
    width: 80vw;
    height: 10vh;
    padding: .8rem 1rem 1rem;
    background-color: #0000008b;    
}

div.upgrade>button{
    border: 1px solid white;
    border-radius: 5rem;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    padding: .5rem 1.5rem;
    font-size: .7rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;    
    }


header ul{    
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: .7rem;
}

header li{
    margin: 1rem;
}








/* MEDIA QUERIES */

@media screen and (max-width: 991px){
    
}


@media screen and (max-width: 767px){

}

@media screen and (max-width: 575px){
    #mobile-logo{
        display: inline-block;
    }

    #standard-logo,
    aside span,
    ul.playlist{
        display: none;
    }

}