*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: white;
}

ul>li{
    list-style-type: none;
}

div.container{
    display: flex;
    flex-direction: column;
}

aside{
    background-color: black;
    width: 20vw;
    z-index: 1;
}

li>img{
    height: 1rem;
}

div.upgrade {
    /* position: fixed; */
    width: 100vw;
    height: 10vh;
    padding: .8rem 1rem 1rem;
}

div.upgrade>button{
    border: 1px solid white;
    border-radius: 5rem;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    padding: .5rem 1.5rem;
    font-size: .7rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;    
    }

main{
    background-color: #141922;    
}

main>header{    
    background-color: #0000008b;
    
    
}








/* MEDIA QUERIES */